
  <!-- preloader -->
 
  
  <!-- 
  <header id="header" class="header">
    <div class="header-top bg-theme-colored sm-text-center hideFooter">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip sm-pull-none sm-text-center mt-sm-15">
                <li><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="text-white sm-text-center no-border m-5 text-right widget-title"> <i class="fa fa-user text-white mr-5"></i> Username</div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
          <nav id="menuzord-right" class="menuzord green no-bg"><a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="index-mp-layout1.html"><img src="../assets/images/logo-wide.png" alt=""></a>
            <ul class="menuzord-menu">
              <li class="active"><a href="#home">Home</a>
              </li>
              <li><a href="#">Services</a>
                <ul class="dropdown">
                  <li><a href="features-preloader.html">Adoption</a></li>
                  <li><a href="#">Breeding</a>
                    <ul class="dropdown">
                      <li><a href="features-header-style1.html">Breeding list</a></li>
                      <li><a href="features-header-style2.html">Look for breeding</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Fostering</a>
                    <ul class="dropdown">
                      <li><a href="features-page-title-text-left.html">Fostering list</a></li>
                      <li><a href="features-page-title-text-center.html">Look for Fostering</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Dontations</a>
                  </li>
                  <li><a href="#">Healthcare</a>
                    <ul class="dropdown">
                      <li><a href="#">Local Vets</a>
                        <ul class="dropdown">
                          <li><a href="form-subscribe.html">Form style 1</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Appointments</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">News</a>
                <ul class="dropdown">
                  <li><a href="#">Reports</a>
                    <ul class="dropdown">
                      <li><a href="page-about1.html">Lost pets</a></li>
                      <li><a href="#">Found pets</a>
                        <ul class="dropdown">
                          <li><a href="page-services-style1.html">All reports</a></li>
                          <li><a href="page-services-style2.html">Submit report</a></li>
                        </ul>
                      </li>                      
                    </ul>
                  </li>
                  <li><a href="#">Stories</a>
                    <ul class="dropdown">
                      <li><a href="page-services-style1.html">All Stories</a></li>
                      <li><a href="page-services-style2.html">New Story</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Gallery</a>
                <ul class="dropdown">
                  <li><a href="page-gallery-3col.html">3 Columns</a></li>
                  <li><a href="page-gallery-3col-only-image.html">3 Columns Only Image</a></li>
                  <li><a href="page-gallery-4col.html">4 Columns</a></li>
                  <li><a href="page-gallery-4col-only-image.html">4 Columns Only Image</a></li>
                  <li><a href="page-gallery-grid.html">Grids (2-10 Columns)</a></li>
                  <li><a href="page-gallery-grid-animation.html">Grids with Animation (2-10 Columns)</a></li>
                  <li><a href="page-gallery-3col-tiles.html">3 Columns Tiles</a></li>
                  <li><a href="page-gallery-4col-tiles.html">4 Columns Tiles</a></li>
                  <li><a href="page-gallery-masonry-tiles.html">Tiles (2-10 Columns)</a></li>
                  <li><a href="page-gallery-masonry-tiles-animation.html">Tiles with Animation (2-10 Columns)</a></li>
                  <li><a href="page-gallery-prettyphoto.html">Pretty Photo Gallery</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a>
                <ul class="dropdown">
                  <li><a href="#">Blog Classic</a>
                    <ul class="dropdown">
                      <li><a href="blog-classic-no-sidebar.html">Blog Classic No Sidebar</a></li>
                      <li><a href="blog-classic-left-sidebar.html">Blog Classic Left Sidebar</a></li>
                      <li><a href="blog-classic-right-sidebar.html">Blog Classic Right Sidebar</a></li>
                      <li><a href="blog-classic-both-sidebar.html">Blog Classic Both Sidebar</a></li>
                      <li><a href="blog-classic-left-thumbs.html">Blog Classic Left Thumbs</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog Grid</a>
                    <ul class="dropdown">
                      <li><a href="blog-grid-2-column.html">Blog Grid 2 Column</a></li>
                      <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                      <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog Masonry</a>
                    <ul class="dropdown">
                      <li><a href="blog-masonry-2-column.html">Blog Masonry 2 Column</a></li>
                      <li><a href="blog-masonry-3-column.html">Blog Masonry 3 Column</a></li>
                      <li><a href="blog-masonry-4-column.html">Blog Masonry 4 Column</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog Single</a>
                    <ul class="dropdown">
                      <li><a href="blog-single-no-sidebar.html">Blog Single No Sidebar</a></li>
                      <li><a href="blog-single-left-sidebar.html">Blog Single Left Sidebar</a></li>
                      <li><a href="blog-single-right-sidebar.html">Blog Single Right Sidebar</a></li>
                      <li><a href="blog-single-both-sidebar.html">Blog Single Both Sidebar</a></li>
                      <li><a href="blog-single-disqus-comments.html">Blog Single Discuss Comments</a></li>
                      <li><a href="blog-single-facebook-comments.html">Blog Single Facebook Comments</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog Infinity Scroll</a>
                    <ul class="dropdown">
                      <li><a href="blog-extra-infinity-scroll.html">Blog Infinity Scroll Default</a></li>
                      <li><a href="blog-extra-infinity-scroll-lazyload.html">Blog Infinity Scroll Lazyload</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog Timeline</a>
                    <ul class="dropdown">
                      <li><a href="blog-timeline.html">Blog Timeline Default</a></li>
                      <li><a href="blog-timeline-masonry.html">Blog Timeline Masonry</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Contact</a>
                <ul class="dropdown">
                  <li><a href="page-contact1.html">Contact style 1</a></li>
                  <li><a href="page-contact2.html">Contact style 2</a></li>
                  <li><a href="page-contact3.html">Contact style 3</a></li>
                  <li><a href="page-contact4.html">Contact style 4</a></li>
                  <li><a href="page-contact5-with-multiple-marker.html">Contact 5 - Multiple Marker</a></li>
                  <li><a href="page-contact6-with-multiple-marker.html">Contact 6 - Multiple Marker</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
<body>
  -->

  <app-header></app-header>
  <div class="container">
    
<router-outlet></router-outlet>

</div>

<app-footer></app-footer>
<!--<app-all-breeding></app-all-breeding>-->


<!--
</body>
  <footer id="footer" class="bg-black-222">
      <div class="container pt-70 pb-30 hideFooter">
        <div class="row border-bottom-black ">
          <div class=" col-sm-8 col-md-4">
            <div class="widget dark">
              <img class="mb-20" alt="" src="images/logo-wide-white.png">
              <p>Lorem ipsum dolor sit amet, consecte tur adipisi cing elit lestias eius illum libero dolor nobis deleniti.</p>
              <p>203, Envato Labs, Behind Alis Steet, Melbourne, Australia.</p>
              <ul class="list-inline mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">123-456-789</a> </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">contact@yourdomain.com</a> </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray" href="#">www.yourdomain.com</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Useful Links</h5>
              <ul class="list angle-double-right list-border">
                <li><a href="#">Body Building</a></li>
                <li><a href="#">Fitness Classes</a></li>
                <li><a href="#">Weight lifting</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
              <div class="widget dark col-sm-6 col-md-12">
                <h5 class="widget-title mb-10">Subscribe Us</h5>
             
                <form id="mailchimp-subscription-form-footer" class="newsletter-form">
                  <div class="input-group">
                    <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
                    <span class="input-group-btn">
                      <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="submit">Subscribe</button>
                    </span>
                  </div>
                </form>
        
                <script type="text/javascript">
                  $('#mailchimp-subscription-form-footer').ajaxChimp({
                      callback: mailChimpCallBack,
                      url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                  });
    
                  function mailChimpCallBack(resp) {
                      // Hide any previous response text
                      var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                          $response = '';
                      $mailchimpform.children(".alert").remove();
                      if (resp.result === 'success') {
                          $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                      } else if (resp.result === 'error') {
                          $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                      }
                      $mailchimpform.prepend($response);
                  }
                </script>
            
              </div>
                  <div class="widget dark col-sm-6 col-md-12">
                    <h5 class="widget-title mb-10">Connect With Us</h5>
                    <ul class="styled-icons icon-dark icon-circled icon-sm">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                  </div>
            </div>
        </div>
    
      </div>
      <div class="footer-bottom bg-black-333">
        <div class="container pt-20 pb-20 ">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 ">
              <p class="font-11 text-black-777 m-0 sm-text-center ">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right">
              <div class="widget no-border m-0">
                <ul class="list-inline sm-text-center mt-5 font-12">
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>|</li>
                  <li>
                    <a href="#">Help Desk</a>
                  </li>
                  <li>|</li>
                  <li>
                    <a href="#">Support</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
     



    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

  <!-- end wrapper -->
  
  <!-- Footer Scripts -->
  <!-- JS | Custom script for all pages 
  <script src="../assets/js/custom.js"></script>        

  -->






  
  